[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
singleton-decorator = "*"
datasets = "*"
transformers = "*"
accelerate = "*"
nltk = "*"
phonemizer = "*"
sacremoses = "*"
pebble = "*"
jupyterlab = "*"
pathlib = "*"
apache-beam = "*"
tqdm = "*"
fugashi = "*"
ipadic = "*"
mwparserfromhell = "*"
install = "*"
mecab-python3 = "*"
cython = "*"
pyopenjtalk = "*"
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.7"
